* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-around;
}

#headerMenu {
  display: flex;
  list-style-type: none;
  margin-top: 40px;
}

#headerMenu li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 10px
}