* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

#headerMenu {
  display: flex;
  list-style-type: none;
  margin-top: 40px;
}

#headerMenu li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 10px
}

#headerMenu li a:hover {
  color: #0080ff;
  text-decoration: underline;
}

/* main */

.contentMainBlack {
  background-color: #171717;
  color: #fff;
  text-align: center;

}

.containerComic {
  max-width: 1200px;
  margin: 0 auto;
}

.rowComic {
  display: flex;
  flex-wrap: wrap;
}

.colComic {
  width: calc(100% / 6);
  padding: 10px;
  margin-top: 30px;
  box-sizing: border-box;
}

.cardComic {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentMainBlue {
  background-color: #0080ff;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.iconMain {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 15px;
}

.loadMore {
  background-color: #0080ff;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.colComic h4 {
  margin-top: 10px;
  justify-content: start;
  display: flex;
}

.contentMainBlack img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: top;
  display: block;
}

.cardComic img {
  width: 100%;
  height: 180px;
}


.iconMain img {
  height: 50px;
  margin: 20px 10px 20px 0;
}



/* footer */

footer {
  background-color: #313131;
  background-image: url('../img/footer-bg.jpg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
  padding: 50px 0px 0px 0px;
  position: relative;
  overflow: hidden;
}

.footerContainer {
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  width: 70%;
  max-width: 1200;
  margin: 0 auto;
}

.footerDc {
  position: absolute;
  top: -90px;
  right: 100px;
}

.footerDc img {
  width: 90%;

}

.footerColumn h4 {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.footerColumn ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footerColumn li a {
  color: #999;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.5;
}

.footerColumn li a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Footer container */

.bottomBarContainer {
  background-color: #3f3f3f;
  padding: 30px 0;
  margin-top: 50px;
  position: relative;
}

.bottomBarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.signUp {
  background-color: transparent;
  color: white;
  border: 2px solid #0080ff;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.social {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}

.social span {
  color: #0080ff;
  font-weight: bold;
}